<div>
  <h1>Welcome {{name}} to The Galactic Bookshelf </h1>

  <input type="text" placeholder="Write your message here" id="input">
  <button id="enviar">Send</button>

  <ul id="mensajes"></ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>