<div>
  <h1>Bienvenida {{name}} a la librería digital
  </h1>

  <input type="text" placeholder="Escribe un mensaje" id="input">
  <button id="enviar">Enviar</button>

  <ul id="mensajes"></ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>