<h1>
  The Galactic Bookshelf
</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th> 
      <th>Photo</th>
      <th>Price</th>
      <th>Code</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>